<div class="container padd">
  <div class="head clearfix">
    <h2><a [routerLink]="'/productsubcat/'+item.subCategory"><i class="fa fa-chevron-left"></i></a> Product Details </h2>
    <!-- <img src="../../assets/logo.png" alt=""/> -->
    <p>Product <span>Mart</span></p>
  </div>
  <!-- <a [routerLink]="'/productsubcat/'+item.subCategory" class="back">Back </a> -->
  <div class="row">
    <div class="col-md-4">
      <div class="image-pan">
        <img [src]="item.imageUrl" class="img-responsive" />
      </div>
    </div>
    <div class="col-md-8">
      <p class="header">Product Name</p>
      <p>{{item.productName}}</p>

      <p class="header">Description </p>
      <p>{{item.description}}</p>

      <p class="header">Price </p>
      <p>{{item.price}}</p>

      <p class="header">Stock </p>
      <p>{{item.stock}}</p>
    </div>
  </div>
</div>
