.padd{padding: 40px 0;}
.img-responsive{max-width: 100%;}
.header{
    font-weight: bold;
    margin: 0;
}
.head{
    margin-bottom: 18px;
    border-bottom: #ddd 1px solid;
    padding-bottom: 18px;
}
.head img{float: right; height: 22px;}
.head h2{
    font-size: 21px; 
    float: left;
    font-weight: bold;
    color: #d4603c;
}
.head h2 a{
    color: #4cbb17; 
    font-size: 16px; 
    margin-right: 6px;
}
.head p{
    font-size: 18px;
    font-weight: bold;
    color: #201f4e;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -1px;
    float: right;
}
.head p span{
    color: #d4603c;
}
.image-pan{
    border-radius: 15px;
    border: #ddd 1px dashed;
    padding: 10px;
    text-align: center;
}

.image-gal .carousel-indicators li img{width: 100%; border-radius: 5px;}
.image-gal .carousel-indicators{
    position: inherit;
    display: inherit;
    white-space: nowrap;
    margin: 0;
    overflow: auto;
    bottom: 0;
    margin-top: 9px;
}
.image-gal .carousel-indicators li{
    display: inline-block;
    width: 25%;
    height: auto;
    margin-right: 2%;
    margin-left: 0;
    border-radius: 5px;
    max-height: 100px;
    min-height: 100px;
    background: #ddd;
    overflow: hidden;
}
.image-gal .carousel-indicators li::after{height: 100px;}
.image-gal .carousel-control-prev, .image-gal .carousel-control-next{
    display: inherit;
    padding-top: 200px;
}
.image-gal .carousel-item img{max-width: 100%;}
.image-gal .carousel-indicators li.active{background: rgba(241,108,73, 0.5);}
.image-gal .carousel-indicators li.active img{opacity: 0.4;}
.image-gal .carousel-inner{
    height: 400px; 
    max-height: 400px; 
    min-height: 400px;
    /* background: #ddd; */
    /* border: #ddd 1px dashed; */
    border-radius: 5px;
    overflow: hidden;
}
.arrow{
    color: #d4603c;
    font-size: 24px;
}