<div class="container padd">
  <div class="head clearfix">
    <h2><a [routerLink]="'/productsubcat/'+item.subCategory"><i class="fa fa-chevron-left"></i></a> Product Details - {{item.productName}}</h2>
    <!-- <img src="../../assets/logo.png" alt=""/> -->
    <p>Product <span>Mart</span></p>
  </div>
  <!-- <a [routerLink]="'/productsubcat/'+item.subCategory" class="back">Back </a> -->
  <div class="row">
    <div class="col-md-4">
      <div class="image-pan">
        <!-- <img [src]="item.imageUrl" class="img-responsive" /> -->
        <div class="image-gal">
          <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
            <div class="pRelative">
              <div class="carousel-inner" >
                <div class="carousel-item active"  *ngFor="let image of item.imageUrl;let i = index" [ngClass]="{active: i == 0}">
                  <img class="d-block w-100" [src]="image" alt="First slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
                <span class="arrow"><i class="fa fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <span class="arrow"><i class="fa fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        
            <ol class="carousel-indicators">
              <li *ngFor="let image of item.imageUrl;let i = index" data-target="#galleryCarousel" [attr.data-slide-to]="i" [ngClass]="{active: i == 0}" ><img class="d-block w-100" [src]="image" alt="Third slide"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <p class="header">Product Name</p>
      <p>{{item.productName}}</p>

      <p class="header">Description </p>
      <p>{{item.description}}</p>

      <p class="header">Price </p>
      <p>{{item.price}}</p>

      <p class="header">Stock </p>
      <p>{{item.stock}}</p>
    </div>
  </div>
</div>
