<div class="container">
  <a [routerLink]="['/productsubcat']" class="back">Back </a>
  <div class="row">
    <div class="col-md-4">
      <img src="http://www.demo.wdmtech.com/images/stories/virtuemart/product/product_lg_type.jpg" class="img-responsive" />
    </div>
    <div class="col-md-8">
      <p class="head">Product Name</p>
      <p>Product Name will go here</p>

      <p class="head">Description </p>
      <p>Description Name will go here</p>

      <p class="head">Price </p>
      <p>Price will go here</p>

      <p class="head">Stock </p>
      <p>2</p>
    </div>
  </div>
</div>
