.padd{padding: 40px 0;}
.head{
    margin-bottom: 18px;
    border-bottom: #ddd 1px solid;
    padding-bottom: 18px;
}
.head img{float: right; height: 22px;}
.head h2{
    font-size: 21px; 
    float: left;
    font-weight: bold;
    color: #d4603c;
}
.head h2 a{
    color: #4cbb17; 
    font-size: 16px; 
    margin-right: 6px;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul a{
    color: #333;
}
ul a.edit{
    color: #7ab9c0;
    margin-left: 9px;
    font-size: 12px;
    text-decoration: underline;
}
ul a.edit i{font-size: 10px;}
ul li{
    padding: 6px 12px;
}
ul li:nth-child(even){
    background: rgba(122, 185, 192, 0.1);
}