<div class="container padd">
  <div class="head clearfix">
    <h2><a [routerLink]="['/']"><i class="fa fa-chevron-left"></i></a> Add Product</h2>
    <!-- <img src="../../assets/logo.png" alt=""/> -->
    <p>Product <span>Mart</span></p>
  </div>
  <form #formProduct="ngForm" (ngSubmit)="submit(formProduct)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input 
            required 
            minlength="3" 
            ngModel 
            name="productName" 
            #productName="ngModel" 
            id="productName" 
            type="text" 
            class="form-control">
        <div 
          class="alert alert-danger" 
          *ngIf="productName.touched && !productName.valid">
          <div
            *ngIf="productName.errors.required" 
            >
            Product Name is required
          </div>
          <div 
            *ngIf="productName.errors.minlength" 
            >
            Product Name should me minimum {{productName.errors.minlength.requiredLength}} characters
          </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Description</label>
          <input
            required
            ngModel 
            name="description" 
            #description="ngModel" 
            id="description" 
            type="text" 
            class="form-control">
          <div 
            class="alert alert-danger" 
            *ngIf="description.touched && !description.valid">
          <div *ngIf="description.errors.required">
              Description is required
          </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="category">Category</label>
          <select
            required
            ngModel 
            name="category" 
            #category="ngModel" 
            id="category" 
            class="form-control" [(ngModel)]="selectedCategory" >
          <option *ngFor="let category of categories" [ngValue]="category.child">{{category.name}}</option>
          </select>
        </div>
        <div 
            class="alert alert-danger" 
            *ngIf="category.touched && !category.valid">
          <div *ngIf="category.errors.required">
            Category is required
          </div>
          </div>
      </div>  
          
      <div class="col-md-6">    
        <div class="form-group">
          <label for="subcategory">Sub category</label>
          <select
            required
            ngModel 
            name="subCategory" 
            #subCategory="ngModel" 
            id="subCategory" 
            class="form-control">
          <option *ngFor="let subCategory of selectedCategory" [ngValue]="subCategory.id">{{subCategory.name}}</option>
          </select>
          <div 
            class="alert alert-danger" 
            *ngIf="subCategory.touched && !subCategory.valid">
          <div *ngIf="subCategory.errors.required">
            Sub category is required
          </div>
          </div>
        </div>
      </div>
      

      <div class="col-md-6">
        <div class="form-group">
          <label for="imageUrl">Imageurl</label>
          <input
            required
            pattern="(https:[/][/]|http:[/][/]|www.)[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(:[a-zA-Z0-9]*)?/?([a-zA-Z0-9\-\._\?\,\'/\\\+&amp;%\$#\=~])*$" 
            ngModel 
            name="imageUrl" 
            #imageUrl="ngModel" 
            id="imageUrl" 
            type="text" 
            class="form-control">
          <div 
          class="alert alert-danger" 
          *ngIf="imageUrl.touched && !imageUrl.valid">
          <div *ngIf="imageUrl.errors.required">
            imageUrl is required
          </div>
          <div *ngIf="imageUrl.errors.pattern">
              Not a valid url 
          </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
            <label for="price">Price</label>
            <input
              required
              pattern="^\d{0,9}(\.\d{1,2})?$" 
              ngModel 
              name="price" 
              #price="ngModel" 
              id="price" 
              type="text"
              class="form-control">
            <div 
            class="alert alert-danger" 
            *ngIf="price.touched && !price.valid">
            <div *ngIf="price.errors.required">
                Price is required
            </div>
            <div *ngIf="price.errors.pattern">
              Not a valid amount 
            </div>
            </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
            <label for="stock">Stock</label>
            <input
              required
              pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$" 
              ngModel
              min='1'
              max='99'
              step='1' 
              name="stock" 
              #stock="ngModel" 
              id="stock" 
              type="text" 
              class="form-control" (change)="log(stock)">
            <div 
            class="alert alert-danger" 
            *ngIf="stock.touched && !stock.valid">
            <div *ngIf="stock.errors.required">
                Stock is required
            </div>
            <div *ngIf="stock.errors.pattern">
                Only integer allowed 
            </div>
            </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!formProduct.valid">Add</button>
    <p>
      {{formProduct.value | json}}
    </p>
  </form>
</div>