.main{
    background: url(../../assets/bg.jpg) repeat 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.padd{padding: 40px 0;}
.listhome{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.listhome li{
    display: inline-block;
    margin: 6px;
}
.listhome li a{
    display: block;
    border: #4cbb17 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 9px;
    cursor: pointer;
    margin-bottom: 9px;
    font-size: 14px;
    font-style: italic;
    background: #4cbb17;
    color: #fff;
}
.listhome li:nth-last-child(1) a{
    color: #4cbb17;
    background: #fff;
}
.listhome li a:hover{
    text-decoration: none;
    background: #fff;
    border-color: #ffa255;
    color: #ffa255;
}
.home{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    text-align: center;
    background: rgba(256, 256, 256, 0.8);
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
    
}
.home h2{font-size: 16px; margin: 18px 0 9px}
.logo-powerd{position: relative;}
.logo-powerd img{
    height: 25px; 
    margin: 0 0 2% 0;
    position: absolute;
    top: 0;
    right: 0;
}
h1{
    font-size: 60px;
    font-weight: bolder;
    color: #201f4e;
    text-transform: uppercase;
    padding: 10% 0 2%;
    letter-spacing: -1px;
}
h1 span{
    color: #d4603c;
}